<%- include("header") %>

<div class="showFunctions">
    <div class="functionItem">
        <a href="/compose"><h2>Compose new post</h2></a>
    </div>
    <div class="functionItem">
        <h2>See specific post by using /journals/:journalName/:post</h2>
    </div>
</div>

<%- include("footer") %>